.jumbotron, h1{
    color: white;
    /* background-color: black; */
    text-align: center;
    background-image: url("../images/space3.jpg");
}

#header {
    font-weight: bold;
}

.lead {
    font-weight: bold;
}

body {
    background-image: url("../images/space3.jpg");
    text-align: center;
}

#Earth, #weight-results, #options, #planets{
    color: white;
}

.planet-info {
    color: white;
}

a {
    color: lightgoldenrodyellow;
    font-weight: bold;
    background-color: black;
}
    
#weights {
    color: white;
    text-align: center;
}

.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}